[Unit]
Description=Apache Tomcat
After=network.target nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/tomcat start
ExecStop=/usr/local/bin/tomcat stop

[Install]
WantedBy=multi-user.target
