[mysqld]
default-authentication-plugin=mysql_native_password
default_password_lifetime=0

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid

log-error=/var/log/mysqld.log
log_timestamps=SYSTEM

character-set-server=utf8mb4
default-time-zone='+9:00'

[client]
default-character-set=utf8mb4
