#!groovy
import hudson.security.*
import hudson.security.csrf.DefaultCrumbIssuer
import jenkins.CLI
import jenkins.model.*

def instance = Jenkins.getInstance()

println "--> creating local user '{{ jenkins_app_user }}'"

def hudsonRealm = new HudsonPrivateSecurityRealm(false)
hudsonRealm.createAccount('{{ jenkins_app_user }}','{{ jenkins_app_password }}')
instance.setSecurityRealm(hudsonRealm)

def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
strategy.setAllowAnonymousRead(true)
instance.setAuthorizationStrategy(strategy)

if(instance.getCrumbIssuer() == null) {
  println "--> configure CSRF"
  instance.setCrumbIssuer(new DefaultCrumbIssuer(true))
}

instance.save()

def jlc = JenkinsLocationConfiguration.get()
jlc.setUrl("{{ jenkins_url }}") 
jlc.save()

def jcli = CLI.get()
jcli.setEnabled(true)
jcli.save()

